
<h1>商品名</h1>
<div><%= @product.name %></div>
<div><%= image_tag attachment_url(@product, :product_image, :fill, 300, 300) %></div>
<div><strong>商品説明</strong></div>
<div><%= @product.introduction %></div>
<div></div>
<div></div>